<div class="content_wrap">

  <div class="area_container intro_area">
    <div class="area_body">
      <h1><span class="blind">Mysupercar</span></h1>
      <div class="intro_head inner">
        <h2 class="area_tit">
          <span class="bar"></span>
          특별한 날에는 특별한 차량으로<br />소중한 추억을 만드세요!
        </h2>
        <p class="copy_2">웨딩, 프로포즈, 데이트, 여행의<br />특별한 날을 준비하세요</p>
      </div>
      <div class="intro_tail">
        <p class="copy_3 inner">고객이 원하는 다양한 수입차량 보유<br />원하는 시간과 장소로 편리한 탁송 서비스 제공</p>
        <ul class="intro_btns">
          <li><a href="#" role="button">전화상담</a></li>
          <li><a href="#" role="button">1:1카톡</a></li>
          <li><a href="http://goo.gl/forms/9pPllNXpMa" role="button" target="_blank">선예약 상담</a></li>
        </ul>
        <div class="inner">
          <hr />
          <h2>왜? mysupercar를 선택해야 하나요?</h2>
          <ul class="answers">
            <li>1. 3년이내 새차량으로 철저한 관리가 되어 있습니다</li>
            <li>2. 국내 최대 규모로 고객이 원하는 차량 즉시 준비 가능합니다</li>
            <li>3. 정식 수입 차량으로 100% 차량 보험 가입 되어 있습니다</li>
            <li>4. 자사 보유 외 차량도 주문하시면 최대한 준비해 드립니다</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="area_container banner_area">
    <div class="area_body">
      <div class="center">
        <% banner = @fcr_data['banner'].values.select { |n| n['enable'].upcase == 'YES' }.clone.shuffle.first %>

        <% if banner %>
          <a href="<%= banner['link'] %>" class="bn_whiteday">
            <img src="<%= ImageHelper.url(banner['image'],:events ) %>" alt="<%= banner['alt'] %>"/>
          </a>
        <% end %>
      </div>

      <span class="blank_line"></span>

      <div class="inner">
        <h2 class="area_tit black">
          <span class="bar"></span>
          마이슈퍼카 추천 서비스
        </h2>
      </div>

      <div id='slide_container'>
        <div id='slider' class="slides">
          <%@fcr_data['event'].values.select{|n| n['enable'].upcase == 'YES' }.each do |item|%>
            <a href="<%= item['link']%>">
              <img src="<%=  ImageHelper.url(item['image'], :events) %>" alt="<%= item['alt']%>" />
            </a>
          <%end%>
        </div>
      </div>


    </div>
  </div>

  <div class="area_container step_area">
    <div class="area_body">
      <div class="inner">
        <h2 class="area_tit white">
          <span class="bar bar_white"></span>
          마이슈퍼카 렌트 방법
        </h2>
      </div>

      <span class="blank_line"></span>

      <div class="center">
        <img src="http://d39imkxg0jo8t9.cloudfront.net/step_contents.png" />
      </div>
    </div>
  </div>

  <div class="area_container brands_area">
    <div class="area_body">
      <div class="inner">
        <h2 class="area_tit black">
          <span class="bar"></span>
          마이슈퍼카 차량 소개
        </h2>
      </div>
      <ul class="brand_icons">
        <script id="brand_icons_template" type="text/x-handlebars-template">
          <li>
            <a href="#" data-brand="{{brand}}">
              <img src="http://d39imkxg0jo8t9.cloudfront.net/brand_logo_{{brand}}.jpg" />
            </a>
          </li>
        </script>
      </ul>
    </div>
  </div>

  <div class="inner"><hr /></div>

  <div class="area_container link_area">
    <div class="area_body">
      <ul class="link_btns">
        <li><a href="#" role="button">전화상담</a></li>
        <li><a href="#" role="button">1:1카톡</a></li>
        <li><a href="http://goo.gl/forms/9pPllNXpMa" role="button" target="_blank">선예약 상담</a></li>
      </ul>
      <p class="copy_1">마이슈퍼카 <strong>카톡 플러스친구,<br />
        페이스북 친구</strong>를 추가 하시면
      </p>
      <p class="copy_2">다양한 이벤트 / 특가 정보를<br />
        받으실 수 있습니다
      </p>
      <ul class="share_btns">
        <li><a href="#" role="button" class="btn_share_kakao" target="_blank"><span class="blind">카카오톡</span></a></li>
        <li><a href="https://www.facebook.com/ilovemysupercar/" role="button" class="btn_share_facebook" target="_blank"><span class="blind">페이스북</span></a></li>
        <li><a href="#" role="button" class="btn_share_blog" target="_blank"><span class="blind">네이버블로그</span></a></li>
      </ul>
      <ul class="link_list">
        <li><a href="#">이용가이드</a></li>
        <li><a href="#">대여자격</a></li>
        <li><a href="#">대여절차</a></li>
        <li><a href="#">반납절차</a></li>
        <li><a href="#">보험 및 보상안내</a></li>
      </ul>
    </div>
  </div>

  <div class="area_container footer_area">
    <div class="area_body">
      <p>케이알컨설팅</p>
      <p>
        사업자등록번호 : 107-19-74445 /<br /> 대표 : 윤은선 / 이메일 : mysupercar@naver.com
      </p>
    </div>
  </div>
</div>

<div class="msc_modal">
  <div class="msc_modal_tit"></div>
  <a href="#" class="msc_modal_close"></a>

  <div class="msc_container agreement_container">약관내용</div>

  <div class="msc_container cars_container" style="overflow-y: auto;-webkit-overflow-scrolling: touch"></div>
  <script id="cars_item_template" type="text/x-handlebars-template">
    {{#models}}
    <div class="cars_item">
      <div class="car_name">{{name}}</div>
      <div class="car_image">
        <img style="min-height:100px;padding-bottom: 50px"
             src="http://d39imkxg0jo8t9.cloudfront.net/cars/{{image}}" />
      </div>
      <dl>
        <dt>연비</dt>
        <dd class="car_mileage">{{mileage}}</dd>
        <dt>가격</dt>
        <dd class="price car_fuel">{{price}}</dd>
      </dl>
      <a href="http://goo.gl/forms/9pPllNXpMa" class="car_reserv_btn" target="_blank">선예약상담</a>
    </div>
    {{/models}}
  </script>
</div>

<script type='text/javascript'>
  var cars_data = <%= raw @car_data.to_json %>;
</script>


<script type="text/javascript" src="assets/js/jquery/jquery.slides.min.js"></script>
<!--<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="assets/js/handlebars/handlebars.min.js"></script>
<!-- <script type="text/javascript" src="assets/js/app.js"></script>  -->

